# Created by .ignore support plugin (hsz.mobi)
.idea

# trun off jupyter catch
Introduction to Deep Learning/Matrix/.ipynb_checkpoints
Introduction to Deep Learning/.ipynb_checkpoints
Neural Networks/Introduction to Neural Networks/.ipynb_checkpoints

# code file
.code-workspace